.navbar {
    padding: 0 1rem;
}

.alert-error {
    background-color: #e00b36;
}

.alert-success {
    background-color: #2bab2f;
}

.alert-info {
    background-color: #25b0ca;
}

th.orderable:after {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f0dc";
    color: lightgray;
}
th.asc:after {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f160";
    color: #5e72e4;
}

th.desc:after {
    font: normal normal normal 14px/1 FontAwesome;
    color: #5e72e4;
    content: "\f161";
}

.awesomplete {
    border: 1px solid #cad1d7;
    border-radius: .25rem;
}
.awesomplete > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.awesomplete > ul > li {
    padding: 0.5rem 1rem;
    margin: 0;
}
.awesomplete > ul > li:hover {
    background-color: #efefef;
}
