{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'patients/img/favicon.png' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'patients/img/favicon.png' %}" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'patients/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'patients/css/argon-design-system.min.css' %}" />
    <link rel="stylesheet" href="{% static 'patients/css/font-awesome.css' %}" />
    <link rel="stylesheet" href="{% static 'patients/css/app.css' %}" />

    <title>Covid-19 India - CovidCrowd</title>

    <meta name="description" content="Crowdsourced patient data of the COVID-19 Coronavirus affected patients in India.">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="https://portal.covid19india.org">
    <meta name="twitter:title" content="India COVID-19 - Patients Data Portal">
    <meta name="twitter:description" content="Crowdsourced patient data of the COVID-19 Coronavirus affected patients in India.">
    <meta name="twitter:image" content="{% static "patients/img/twitter_card_image.png" %}">
    <meta property="og:title" content="India COVID-19 - Patients Data Portal">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.covid19india.org">
    <meta name="og:description" content="Crowdsourced patient data of the COVID-19 Coronavirus affected patients in India.">
    <meta name="og:image" content="{% static "patients/img/twitter_card_image.png" %}">
  </head>
  <body>
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="{% url "patients:index" %}">
      <img src="{% static "patients/img/covidcrowd.svg" %}" width="30" height="30" class="d-inline-block" alt=""/>
      Covid-19 India
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-primary" aria-controls="navbar-primary" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon text-primary">
        <i class="fa fa-bars"></i>
      </span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-primary">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a class="navbar-brand" href="{% url "patients:index" %}">Covid-19 India</a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-primary" aria-controls="navbar-primary" aria-expanded="false" aria-label="Toggle navigation">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="{% url 'patients:report' %}">Report New Patient</a>
      </div>
      <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
          {% if user.is_staff %}
          <li class="nav-item dropdown show">
            <a class="nav-link" href="#" id="review-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Review Queue's <i class="fa fa-caret-down"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="review-dropdown">
            <a class="dropdown-item" href="{% url 'patients:report-queue' %}">Review Queue</a>
            <a class="dropdown-item" href="{% url 'patients:error-report-queue' %}">Error Review Queue</a>
            </div>
          </li>
          {% endif %}
          <li class="nav-item dropdown show">
            <a class="nav-link" href="#" id="user-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              {% if user.is_superuser %}
                <span class="badge badge-pill badge-danger">Admin</span>
              {% elif user.is_staff %}
                <span class="badge badge-pill badge-primary">Moderator</span>
              {% endif %}
              Hi, {{ user.username }} <i class="fa fa-caret-down"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="user-dropdown">
              <!-- a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div -->
              <a class="dropdown-item" href="{% url "patients:logout" %}">Logout</a>
            </div>
          </li>

        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url "patients:login-form" %}">Login</a>
          </li>
        {% endif %}
      </ul>

    </div>
  </nav>
  <main>
    <div class="container">
      {% if messages %}
        {% for message in messages %}
          <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
              <small>
                <i class="fa fa-remove"></i>
              </small>
            </button>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}

      {% block content %}
      {% endblock %}
    </div>
  </main>

  <footer class="mt-5 p-5 border-top bg-lighter">
    <div class="row text-gray-dark text-center">
      <div class="col">
        <small>
          The data on this site is curated by a team of volunteers under the umbrella of
          <a href="http://covid19india.org">Covid19India.org</a> from multiple sources
          including news reports, Twitter posts and official Govt Websites like the
          <a href="https://www.mohfw.gov.in/">MoFHW</a> site.
        </small>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col text-center">
        <a class="github-button" href="https://github.com/covid19india/CovidCrowd/fork" data-color-scheme="no-preference: light; light: light; dark: dark;" data-icon="octicon-repo-forked" data-size="large" data-show-count="true" aria-label="Fork covid19india/CovidCrowd on GitHub">
          Fork on Github
        </a>
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-via="covid19indiaorg" data-hashtags="covid19india" data-dnt="true" data-show-count="false">
          Tweet
        </a>
      </div>
    </div>
  </footer>

  {% block modal %}
  {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{% static 'patients/js/bootstrap.bundle.min.js' %}"></script>


    {% block JS %}
    {% endblock %}
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </body>
</html>
