{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'patients/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'patients/css/argon-design-system.min.css' %}" />
    <link rel="stylesheet" href="{% static 'patients/css/font-awesome.css' %}" />
    <link rel="stylesheet" href="{% static 'patients/css/app.css' %}" />

    <title>Covid-19 India - CovidCrowd</title>
  </head>
  <body>
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="{% url "patients:index" %}">Covid-19 India</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-primary" aria-controls="navbar-primary" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon text-primary">
        <i class="fa fa-bars"></i>
      </span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-primary">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a class="navbar-brand" href="{% url "patients:index" %}">Covid-19 India</a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-primary" aria-controls="navbar-primary" aria-expanded="false" aria-label="Toggle navigation">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="{% url 'patients:report' %}">Report Incident</a>
      </div>
      <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
          {% if user.is_staff %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'patients:report-queue' %}">Review Queue</a>
            </li>
          {% endif %}
          <li class="nav-item dropdown show">
            <a class="nav-link" href="#" id="user-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              {% if user.is_superuser %}
                <span class="badge badge-pill badge-danger">Admin</span>
              {% elif user.is_staff %}
                <span class="badge badge-pill badge-primary">Moderator</span>
              {% endif %}
              Hi, {{ user.username }} <i class="fa fa-caret-down"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="user-dropdown">
              <!-- a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div -->
              <a class="dropdown-item" href="{% url "patients:logout" %}">Logout</a>
            </div>
          </li>

        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url "patients:login-form" %}">Login</a>
          </li>
        {% endif %}
      </ul>

    </div>
  </nav>
  <main>
    <div class="container">
      {% if messages %}
        {% for message in messages %}
          <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
              <small>
                <i class="fa fa-remove"></i>
              </small>
            </button>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}

      {% block content %}
      {% endblock %}
    </div>
  </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="{% static 'patients/js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>


    {% block JS %}
    {% endblock %}
  </body>
</html>