{% extends "patients/_base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <h3 class="heading-title text-warning">
    <i class="fa fa-warning"></i> Important Note
  </h3>
  <p>
    You are going to add a new patient to the system. The information for the
    patient has been auto populated from the report <strong>#{{ report_id }}</strong>.
    Kindly the review the information as diligently as possible and before
    adding the patient to the system.
  </p>
  <p>
    The following things will be affected once the patient is added to the system:
  </p>
  <ul>
    <li>Patient counts</li>
    <li>State wise distribution</li>
    <li>Spread Cluster Map</li>
  </ul>

  <div class="alert alert-info">
    <strong>
      <i class="fa fa-info-circle"></i>
      If you are sure the information is valid, but seems very similar to patient already
      in the database, then just mark the information verified. An admin will double check
      and add the patient to the system.
    </strong>
  </div>

  <hr />

  <h3 class="heading-title">Add New Patient</h3>
  {% crispy form form.helper %}

{% endblock %}