{% extends "patients/_base.html" %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}
{% load django_tables2 %}

{% block content %}
  {% if filter %}
    <div class="row mt-3 mb-3">
      <div class="col">
        <h4 class="h4 text-uppercase">Affected People</h4>
      </div>
      <div class="col">
        <button id="show-filters" class="btn btn-default float-right">
          <i class="fa fa-filter"></i>
          <span id="fBtnText">Filters</span>
        </button>
      </div>
    </div>
    <div class="row py-2">
      <div class="col">
        <div class="alert alert-info">
          <i class="fa fa-info-circle"></i> If you find any errors in the data here. Kindly
          use the <strong>Report Error</strong> option in the details page of the
          patient.
        </div>
      </div>
    </div>
    <div id="filter-container" style="display: none;">
      {% crispy filter.form filter.form.helper %}
    </div>
  {% endif %}
  {% render_table table %}

  <p class="text-right">
    <small>
    <strong>Download </strong>
    {% for format in view.export_formats %}
      <span class="ml-2">
        <a href="{% url 'patients:export' %}{% export_url format %}">
          <code>{{ format | upper }}</code>
        </a>
     </span>
    {% endfor %}
    </small>
  </p>

{% endblock %}

{% block JS %}
  <script>
    $(document).ready(function() {
      let btnText = $("#fBtnText");
      $("#show-filters").click(function() {
        console.log("showing filters");
        $("#filter-container").toggle();
        if (btnText.innerText === "Filters") {
          btnText.innerText = "Close Filters"
        } else {
          btnText.innerText = "Filters"
        }
      });
    });

  </script>
{% endblock %}
