{% extends "patients/_base.html" %}
{% load static %}
{% block content %}
  <div class="row justify-content-center mt-5">
    <div class="col-lg-5">
      <div class="card bg-secondary shadow border-0 mb-5">
        <div class="card-header bg-white pb-5">
          <div class="text-muted text-center mb-3"><small>Sign in with</small></div>
          <div class="btn-wrapper text-center">
            <a href="{% url "social:begin" "github" %}" class="btn btn-neutral btn-icon">
              <span class="btn-inner--icon"><img src="{% static "patients/img/github.svg" %}"></span>
              <span class="btn-inner--text">Github</span>
            </a>
            <a href="{% url "social:begin" "google" %}" class="btn btn-neutral btn-icon">
              <span class="btn-inner--icon"><img src="{% static "patients/img/google.svg" %}"></span>
              <span class="btn-inner--text">Google</span>
            </a>
          </div>
          <div class="btn-wrapper text-center mt-3">
            <a href="{% url "social:begin" "twitter" %}" class="btn btn-neutral btn-icon">
              <span class="btn-inner--icon"><img src="{% static "patients/img/twitter.svg" %}"></span>
              <span class="btn-inner--text">Twitter</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}