{% extends "patients/_base.html" %}
{% load render_table from django_tables2 %}
{% load patients_tags %}

{% block content %}
  <div style="min-height: 80vh">
  <div class="row">
    <div class="col-12 col-md-6">
      <h3 class="h4 my-2">Patient {{ patient.id }}</h3>
    </div>
    <div class="col-12 col-md-6 text-right">
      {% if user.is_staff and error_report_count %}
        <span class="text-danger">
          <i class="fa fa-exclamation-triangle"></i> {{ error_report_count }}
          error{{ error_report_count|pluralize:",s" }} reported
        </span>
        <a href="{% url "patients:review-errors-for-patient" patient.id %}" class="btn btn-outline-primary btn-sm ml-2">Review</a>
      {% endif %}


    </div>
  </div>
  <div class="row my-2">
    <!-- Diagnosed on -->
    <div class="col p-1">
      {% small_card "Announced" patient.diagnosed_date "bullhorn" %}
    </div>
    <!-- Gender card -->
    <div class="col p-1">
      {% small_card "Gender" patient.gender "venus-mars" %}
    </div>
    <!-- Age card -->
    <div class="col p-1">
      {% if patient.age %}
        {% small_card "Age" patient.age "user-plus" %}
      {% else %}
        {% small_card "Age" "--" "user-plus" %}
      {% endif %}
    </div>
    <!-- Status card -->
    <div class="col p-1">
      {% small_card "Status" patient.current_status "heartbeat" %}
    </div>
    <!-- State card -->
    <div class="col p-1">
      {% small_card "State" patient.detected_state "map-marker" %}
    </div>
    <!-- Nationality -->
    <div class="col p-1">
      {% small_card "Country" patient.nationality "globe" %}
    </div>
  </div>

  <div class="row my-2">
    <div class="col-12 col-md-8 p-1">
      <div class="card">
        <div class="card-header">
          <strong>
            Details
          </strong>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <strong>City:</strong> {{ patient.detected_city }}
          </li>
          <li class="list-group-item">
            <strong>District:</strong> {{ patient.detected_district }}
          </li>
          <li class="list-group-item">
            <strong>Notes:</strong> {{ patient.notes }}
          </li>
          <li class="list-group-item">
            <h5 class="h5">Sources</h5>
            <ol>
              {% for source in patient.source_set.all %}
                <li class="my-2">
                  <a href="{{ source.url }}">
                    {% if source.description %} {{ source.description }}
                    {% else %} {{ source.url }}
                    {% endif %}
                  </a>
                </li>
              {% endfor %}
            </ol>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-md-4 p-1">
      <div class="card mb-2">
        <div class="card-header"><strong>Status Change</strong></div>
        <div class="card-body">
          {% if not patient.status_change_date %}
            NA
          {% elif patient.status_change_date == patient.diagnosed_date %}
            No updates available
          {% else %}
            <p>
              <strong>Changed on: </strong> {{ patient.status_change_date }}
            </p>
            <p>
              <strong>Current Status: </strong> {{ patient.current_status }}
            </p>
          {% endif %}
        </div>
      </div>

      <div class="card my-2">
        <div class="card-header"><strong>Connected to</strong></div>
        <div class="card-body p-0">
          <ul class="list-group list-group-flush">
            {% for contact in patient.contacts.all %}
              <li class="list-group-item">
                <a href="{% url "patients:patient-details" contact.id %}">
                  Patient {{ contact.unique_id }} from {{ contact.detected_city }}
                  {% if contact.detected_city %},{% endif %}
                  {{ contact.detected_state }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="card my-2">
        <div class="card-header"><strong>Contribute</strong></div>
        <div class="card-body">
          If the information in this page is wrong or missing any details, kindly
          provide us with the right or new information.
          <ul class="mt-2 p-0" style="list-style: none;">
            <!-- li class="py-2">
              <a href="" class="text-primary">
                <i class="fa fa-plus-square-o"></i>
                Add More Information
              </a>
            </li -->
            <li class="py-2">
              <a href="#" class="text-danger" data-toggle="modal" data-target="#report-modal" >
                <i class="fa fa-exclamation-circle"></i>
                Report Error
              </a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
    <div class="card">
      <div class="card-header">
        <strong>
          Patient travel history
        </strong>
      </div>
    </div>
    {% render_table history_table %}
  <div class="my-3">
    <a href="/"> <i class="fa fa-angle-double-left"></i> Back</a>
  </div>
  </div>
{% endblock %}

{% block modal %}
  {% include "patients/report_error_modal.html" %}
{% endblock %}