{% extends 'patients/_base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
  <h2 class="h2 mt-3">Report Patient</h2>
  {% crispy form form.helper %}
{% endblock %}

{% block JS %}
  <!--helps to AutoComplete -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.5/awesomplete.min.js"></script>
  <script>
    // Start : AutoComplete Citys
    var ajax = new XMLHttpRequest();
    var city_data = "https://indian-cities-api-nocbegfhqg.now.sh/cities";
    ajax.open("GET", city_data, true);
    ajax.onload = function() {
      citys = JSON.parse(ajax.responseText);
      list = citys.map(function(entry) {
        return entry.City;
      });
      var input = document.getElementById("id_detected_city");
      new Awesomplete(input, { list: list, maxItems: 5 });
    };
    ajax.send();
    //End : AutoComplete Citys

    $(document).ready(function() {
      $("#id_detected_state").change(function() {
        var selected_state = $("#id_detected_state").val();
        //make ajax call
        $.post("/get_districts",
          {
            state: selected_state,
            csrfmiddlewaretoken: '{{ csrf_token }}'
          },
          function(data, status){
            $('#id_detected_district')
              .empty()
              .append(new Option('--------', ''));

            $.each(data.districts, function( index, value ) {
              $('#id_detected_district').append(new Option(value, value));
            });

          });
      });
    });
  </script>

  <script src="{% static "patients/js/plugins/bootstrap-datepicker.min.js" %}"></script>
  <script>
    $('.datepicker').datepicker({
      startDate: '-1d',
      format: "yyyy-mm-dd"
    });
  </script>
{% endblock %}
