{% extends "patients/_base.html" %}
{% load patients_tags %}
{% block content %}
  <h2 class="h3 my-3">Report #{{ report.id }}</h2>
  <div class="row my-4">
    {% if report.patient_id %}
      <div class="col">
        <div class="alert alert-default">
          <i class="fa fa-info-circle"></i> This record was imported from the Google Sheets.
          <strong>Patient Number #{{ report.patient_id }}</strong>
        </div>
      </div>
    {% endif %}
    <div class="col text-right">
      <p>
        <i class="fa fa-clock-o"></i> Reported at: {{ report.reported_time }}
      </p>
    </div>
  </div>

  <h4 class="h4">Patient Details</h4>
  <div class="row my-4">
    <div class="col-12">
      <table class="table table-sm">
        <tbody>
        <tr>
          <th style="min-width: 15rem;">Diagnosed on</th>
          <td>{{ report.diagnosed_date }}</td>
        </tr>
        <tr>
          <th>Gender</th>
          <td>{{ report.gender }}</td>
        </tr>
        <tr>
          <th>Age</th>
          <td>{{ report.age }}</td>
        </tr>
        <tr>
          <th>Patient Status</th>
          <td>{{ report.current_status }}</td>
        </tr>
        <tr>
          <th>State</th>
          <td>{{ report.detected_state }}</td>
        </tr>
        <tr>
          <th>District</th>
          <td>{{ report.detected_district }}</td>
        </tr>
        <tr>
          <th>City</th>
          <td>{{ report.detected_city }}</td>
        </tr>
        <tr>
          <th>Current Location</th>
          <td>{{ report.current_location }}</td>
        </tr>
        <tr>
          <th>Source</th>
          <td>{{ report.source | links | linebreaksbr }}</td>
        </tr>
        <tr>
          <th>Notes</th>
          <td>{{ report.notes | linebreaksbr }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <a href="{% url "patients:add-patient" %}" class="btn btn-primary">Add New Patient </a>
    </div>
    <!-- div class="col-3">
      <a href="#" class="btn btn-info">Mark as duplicate</a>
    </div -->
    <div class="col-6">
      <a href="{% url "patients:report-invalid" %}" class="btn btn-danger">Insufficient Information</a>
    </div>
  </div>
{% endblock %}