{% extends "patients/_base.html" %}

{% block content %}
  <h2>Review Page</h2>
  <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Diagnosed Date</th>
      <th scope="col">Age</th>
      <th scope="col">Gender</th>
      <th scope="col">City</th>
      <th scope="col">State</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
  {% for report in reports %}
    <tr>
      <th scope="col">{{ report.id }}</th>
      <td>{{ report.diagnosed_date }}</td>
      <td>{{ report.age }}</td>
      <td>{{ report.gender }}</td>
      <td>{{ report.detected_city }}</td>
      <td>{{ report.detected_state }}</td>
      <td>
        <a href="{% url 'patients:review-report' report.id %}" class="btn btn-outline-default">Review</a>
      </td>
    </tr>
  {% endfor %}
  </tbody>

  </table>
{% endblock %}